<header>
  <nav class ="navbar navbar-expand-md navbar-dark bg-dark">
  <div><a href="https://github.com/sroy96" class="navbar-brand">Expence_Share</a></div>
  
  <ul class="navbar-nav">
    <li><a  routerLink="/" class="nav-link">View Member</a></li>
    <li><a  routerLink="/addemployee" class="nav-link">Add New Member</a></li>
   <li><a  routerLink="/transaction" class="nav-link">View Transaction</a></li>
    <li><a  routerLink="/addtransaction" class="nav-link">Add New Transaction</a></li>

  </ul>
  
  </nav>
  
  </header>
